@import "compass/reset";
@import "compass/css3";

 /***** Colors *****/

$black:#222;
$lessblack:#333;
$lesserblack:#444;
$darkblue:#06A2CB;
$blue:#52ADDA;
$lessblue:#68B8DF;
$grey:#C9C9C9;
$lessgrey:#DBDBDB;
$white:#fafafa;
$darkpink:#cb2c54;
$pink:#d42a5c;
$lesserpink:#ec4c64;
$redpink: #E96D63;


/***** Mixins ******/

@mixin breakpoint($point) {
  @if $point == small {
    @media  only screen 
            and (max-width: 600px)  {@content;}
  }
  @else if $point == medium {
    @media only screen
            and (max-width: 820px) { @content; }
  }
  @else if $point == larger {
    @media only screen 
            and (max-width: 1100px)  { @content; }
  }
}

.container {       /***container***/
    height:100%;
    width:100%;
}

body {              /****body****/
    height:100% ;
    width:100%;
}


.slide1 {                               /**slide1**/
    border-bottom:1px dashed $black;
    height:100%;
    background:url("img/ttaj.jpg") no-repeat ;
    background-size:100% 100%;
    .text {
        color:$black;
        text-shadow: 7px 7px 7px $lessblue;
        text-align:center;
        padding-top:40px;
        font-size: 7rem;
        @include breakpoint(medium) {font-size:5rem;} 
        @include breakpoint(small) {font-size:2rem; } 
         
    }      

}
.slide2 { 
    height:100%;
    background-color:black;
    .text {

    }
    .image {

    }
 }                    
    
.slide3 {                       
    height:100%;
    background-color:black;  
}       
